doctype html
html
    head
        title EqualizR
        meta( charset="UTF-8" )
        meta( name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' )

        //- Styles
        link( rel='stylesheet' href='assets/css/styles.css' )

    body
        h1#title.title Flow-R
        //- button#start.start Start

        #canvas

        p#end.end End

    //- Scripts
    script( src='assets/js/main.js' )
