@font-face
    font-family 'Brandon'
    font-weight 600
    font-style normal
    src url( '../fonts/brandon_bld-webfont.eot' )
    src url( '../fonts/brandon_bld-webfont.eot?#iefix' ) format( 'embedded-opentype' ),
        url( '../fonts/brandon_bld-webfont.woff2' ) format( 'woff2' ),
        url( '../fonts/brandon_bld-webfont.woff' ) format( 'woff' ),
        url( '../fonts/brandon_bld-webfont.ttf' ) format( 'truetype' ),
        url( '../fonts/brandon_bld-webfont.svg#brandon_grotesquebold' ) format( 'svg' )
