// @font-face
//     font-family 'The Sans'
//     src url( '../fonts/TheSans-B2ExtraLightItalic.eot' )
//     src url( '../fonts/TheSans-B2ExtraLightItalic.eot?#iefix' ) format( 'embedded-opentype' ),
//          url( '../fonts/TheSans-B2ExtraLightItalic.woff' ) format( 'woff' ),
//          url( '../fonts/TheSans-B2ExtraLightItalic.ttf' ) format( 'truetype' ),
//          url( '../fonts/TheSans-B2ExtraLightItalic.svg#TheSans-B2ExtraLightItalic' ) format( 'svg' )
//     font-weight 100
//     font-style italic


@font-face
    font-family 'Brandon'
    font-weight 300
    font-style normal
    src url( '../fonts/brandon_light-webfont.eot' )
    src url( '../fonts/brandon_light-webfont.eot?#iefix' ) format( 'embedded-opentype' ),
        url( '../fonts/brandon_light-webfont.woff2' ) format( 'woff2' ),
        url( '../fonts/brandon_light-webfont.woff' ) format( 'woff' ),
        url( '../fonts/brandon_light-webfont.ttf' ) format( 'truetype' ),
        url( '../fonts/brandon_light-webfont.svg#brandon_grotesquelight' ) format( 'svg' )

@font-face
    font-family 'Brandon'
    font-weight 600
    font-style normal
    src url( '../fonts/brandon_bld-webfont.eot' )
    src url( '../fonts/brandon_bld-webfont.eot?#iefix' ) format( 'embedded-opentype' ),
        url( '../fonts/brandon_bld-webfont.woff2' ) format( 'woff2' ),
        url( '../fonts/brandon_bld-webfont.woff' ) format( 'woff' ),
        url( '../fonts/brandon_bld-webfont.ttf' ) format( 'truetype' ),
        url( '../fonts/brandon_bld-webfont.svg#brandon_grotesquebold' ) format( 'svg' )
